@import "../../../sass/utils/colors.scss";
@import "../../../sass/utils/mixins.scss";

.countdown {
    width: 315px;
    height: 110px;
    border-radius: 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    background: linear-gradient(to right, $pink, $violet);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include desktop {
        border-radius: 27px;
        -moz-border-radius : 27px;
        -webkit-border-radius : 27px;
        width: 518px;
        height: 145px;
    }
}