// Aliey
@font-face {
  font-family: "Aliey";
  src: url("../../assets/fonts/aliey/Aliey-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Aliey";
  src: url("../../assets/fonts/aliey/Aliey-Bold.otf") format("opentype");
  font-weight: 700;
}

// Exo2
@font-face {
  font-family: "Exo2";
  src: url("../../assets/fonts/exo_2/Exo2-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Exo2";
  src: url("../../assets/fonts/exo_2/Exo2-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Exo2";
  src: url("../../assets/fonts/exo_2/Exo2-SemiBold.otf") format("opentype");
  font-weight: 600;
}

// Awesome Journey
@font-face {
  font-family: "AwesomeJourney";
  src: url("../../assets/fonts/awesome-journey/Awesome-journey.otf") format("opentype");
  font-weight: 600;
}

// Crawler
@font-face {
  font-family: "Crawler";
  src: url("../../assets/fonts/crawler/CRAWLER-Italic.otf") format("opentype");
  font-weight: 600;
}

// Amazing Slab
@font-face {
  font-family: "AmazingSlab";
  src: url("../../assets/fonts/amazing-slab/Amazing-Slab-Extrabold.ttf") format("truetype");
  font-weight: 600;
}