$white:             #FFFFFF;
$black:             #000000;
$dark-blue1:        #0C182E;
$dark-blue2:        #142331;
$dark-blue3:        #1E1631;
$turquoise1:        #15EAAD;
$light-turquoise:   #C7F9E3;
$green:             #0CEB8F;
$pink:              #C247A5;
$transparent:       rgba(255, 255, 255, 0.05);
$purple:            #271537;
$violet:            #7B4FC6;
$violet2:           #6C51CD;
$brown:             #483636;
$light-purple:      #373255;
$red:               #ED3E4F;
$blue:              #5966F1;
$light-blue:        #A8EFF4;
$gray:              #D8D9DD;